*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E7BFD7;
    
}

.nav-bar{
    
    background-color:#CE4196;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar-section-1{
  
    display: flex;
    background-color:#CE4196;
    justify-content: space-between;
    align-items: center;
}

.nav-link-container{
    
    background-color:#CE4196;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

}

.logo{
    display: flex;
    background-color:#CE4196;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.logo h1{
    background-color:#CE4196;
}

.logo img{
    background-color:#CE4196;
}

.nav-link{
   
    text-decoration: none;
    margin-right: 50px;
    color: black;
    background-color:#CE4196;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 51px;
}

.session-1{
    display: flex;
    justify-content: space-between;
    background-color: #E7BFD7;
    align-items: center;
}

.section-1-text{
    padding-right: 10px;
    text-align: right;
    font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
text-align: right;
}

span{
    font-family: 'Lora';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 46px;
text-align: right;
}

.section-1-button{
    display: flex;
    justify-content: center;
   
}

button{
    font-family: 'Ponnala';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 112px;
    display: flex;
    align-items: center;
    text-align: right;
    background-color: #B1EED0;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
    border: none;
    border-radius: 50px;
}