*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #E7BFD7;
    
}

.nav-bar{
    
    background-color:#CE4196;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-bar-section-1{
  
    display: flex;
    background-color:#CE4196;
    justify-content: space-between;
    align-items: center;
}

.nav-link-container{
    
    background-color:#CE4196;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

}

.logo{
    display: flex;
    background-color:#CE4196;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.logo h1{
    background-color:#CE4196;
}

.logo img{
    background-color:#CE4196;
}

.nav-link{
   
    text-decoration: none;
    margin-right: 50px;
    color: black;
    background-color:#CE4196;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 51px;
}

.session-2-about-content-1{
    padding: 30px;
    padding-right: 800px;
    text-align: left;
    font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;

}

.session-2-about-content-2{
    padding: 10px;
    padding-left: 80px;
    text-align: left;
    font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;
}

.session-2 img{
    position: absolute;
width: 800px;
height: 400px;
left: 1800px;
top: 400px;
}


.session-3-detecting-depression{
    margin-top: 300px;
    text-align: left;
    font-family: 'Lora';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 38px;

margin-left: 1000px;
}

.session-3 img{
    position: absolute;
    margin-top: 300px;
    width: 800px;
}