* {
    margin          : 0;
    padding         : 0;
    box-sizing      : border-box;
    background-color: #E7BFD7;

}

.nav-bar {

    background-color: #CE4196;
    padding-top     : 2px;
    padding-bottom  : 2px;
}

.nav-bar-section-1 {

    display         : flex;
    background-color: #CE4196;
    justify-content : space-between;
    align-items     : center;
}

.nav-link-container {

    background-color: #CE4196;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    width           : 40%;

}

.logo {
    display         : flex;
    background-color: #CE4196;
    justify-content : space-between;
    align-items     : center;
    padding-left    : 10px;
}

.logo h1 {
    background-color: #CE4196;
}

.logo img {
    background-color: #CE4196;
}

.nav-link {

    text-decoration : none;
    margin-right    : 50px;
    color           : black;
    background-color: #CE4196;
    font-family     : 'Lora';
    font-style      : normal;
    font-weight     : 400;
    font-size       : 30px;
    line-height     : 51px;
}

.ex1 {
    width           : 900px;
    padding         : 10px;
    box-sizing      : border-box;
    background-color: #95b6f0;
    border-radius   : 20px;

}


.ex1 h1 {
    background-color: #95b6f0;

}

.session-2-about-content-1 {
    padding      : 10px;
    padding-right: 600px;
    text-align   : left;
    font-family  : 'Lora';
    font-style   : normal;
    font-weight  : 500px;
    font-size    : 20px;
    line-height  : 25px;

}

.session-2-about-content-2 {
    padding         : 10px;
    background-color: #95b6f0;
    padding-left    : 80px;
    text-align      : left;
    font-family     : 'Lora';
    font-style      : normal;
    font-weight     : 500px;
    font-size       : 20px;
    line-height     : 25px;
}

.session-2-about-content-2 ul {
    background-color: #95b6f0;
}

.session-2-about-content-2 ul li {
    background-color: #95b6f0;
}

.session-2 img {
    position: absolute;
    width   : 500px;
    height  : 310px;
    left    : 930px;
    top     : 170px;
}

.session-3-detecting-depression {
    margin-top             : 10px;
    text-align             : left;
    font-family            : 'Lora';
    font-style             : normal;
    font-weight            : 500;
    font-size              : 20px;
    line-height            : 25px;
    margin-left            : 550px;
    background-color       : #95b6f0;
    padding                : 20px;
    margin-right           : 10px;
    border-top-left-radius : 20px;
    border-top-right-radius: 20px;

}

.session-3-detecting-depression h1 {
    background-color: #95b6f0;

}

.session-3-detecting-depression p {
    background-color: #95b6f0;

}

.session-3-detecting-depression-content-1 ul {
    background-color: #95b6f0;

}

.session-3-detecting-depression-content-1 ul li {
    background-color: #95b6f0;
    margin-left     : 90px;

}

.session-3 img {
    position  : absolute;
    margin-top: 157px;
    width     : 500px;
}