<!DOCTYPE html>
<html>
<body>

    <div class="iframe-container">
    <h3 style="text-align: center;" class="mt-5">Visual Depression Detector</h3>
    
    <iframe style="display: block; margin: auto;" width="640" height="345" src="https://www.youtube.com/embed/K-C-KxnRtPs?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    
    <div id="camdiv" class="container" >
      <div class="row">
          <div class="col-lg-8  offset-lg-2">
              <h3 class="mt-5">Live Streaming</h3>
              <img src="{{ url_for('video_feed') }}" >
          </div>
    </div>
    
</body>
</html>